@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --green: #62a14f;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 1rem;
}

main {
  margin: 2rem;
}

button {
  border: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  background-color: var(--green);
  color: white;
}

.btn-search {
  margin-left: 0.7rem;
  padding: 1rem;
  font-weight: bold;
}

.search-bar {
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  background-color: #eeee;
}

.recipe {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  background-color: #eee;
  border-radius: 0.7rem;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
}

.recipe img {
  width: 20%;
  border-radius: 0.7rem;
}

.recipe-info {
  margin-left: 1rem;
}
