@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --green: #62a14f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.button {
  border: 0;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--green);
  color: white;
}

.btn-search {
  margin-left: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.search-bar {
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 0.7rem;
  width: 30rem;
  background-color: #eeee;
}

.recipe-list-item:hover {
}
