@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-search {
  margin-left: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.details-btn-left,
.details-btn-right {
  position: absolute;
  z-index: 99;
  top: 0;
}

.details-btn-left {
  left: 0;
}

.details-btn-right {
  right: 0;
}

.search-bar {
  width: 25rem;
}
.recipe-list-item {
  transition: all 0.3s;
}

.recipe-list-item:hover {
  background-color: #eeee;
  cursor: pointer;
}

.recipe-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.recipe-details-img {
  width: 50%;
  object-fit: cover;
}

@keyframes slideLeft {
  0% {
    transform: translate(100%);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .recipe-details {
    animation: slideLeft 0.5s ease-in-out;
  }
}

@media (max-width: 576px) {
  .recipe-img,
  .recipe-details-img {
    width: 100%;
    object-fit: cover;
  }

  .search-bar {
    width: 100%;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .search-bar {
    width: 15rem;
  }
}

.loading-wheel {
  width: 48px;
  height: 48px;
  border: 5px solid #888;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
